<ion-view title="登录">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">邮箱</span>
                    <input type="text" id="login_email" name="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" id="login_password" name="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="" ng-click="login()" class="button button-stable button-block ">登录</a>
        </form>
    </ion-content>
</ion-view>