<ion-view title="注册">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">姓名</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button class="button button-stable button-block ">注册</button>
        </form>
    </ion-content>
</ion-view>